@keyframes toX {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -505px 0px;
  }
}

@keyframes toMenu {
  100% {
    background-position: 0px 0px;
  }
  0% {
    background-position: -505px 0px;
  }
}


.shapeshifter {
  animation-duration: 700ms;
  animation-timing-function: steps(21);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  fill: white;
}
.shapeshifter.play {
  animation-name: toX;
  background-position: -505px 0px;
}

.shapeshifter.reverse {
  animation-name: toMenu;
}


