
:root {
	--primary: #43d8c9;
	--secondary: #f7f7f7;
    --tertiary: #95389e;
    --quaternary: #100303;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #c70039;	
}

#navtab {
	grid-area: navtab;
	
}

#navmenu {
	grid-area: navmenu;
	background: var(--primary);
}

nav {
    grid-area: nav;

    display: grid;
	grid-template-columns: 1fr calc(40px);
	grid-template-areas:
		"navmenu navtab";
}

main {
	grid-area: content;
}

body {
    background: var(--secondary);
	height: 100vh;
    display: grid;
    margin: 0;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		"nav content";
}

#navtabbutton {
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--primary);
    border: none;
    outline: none;
    cursor: pointer;
}


